@import "../../themes/vendor/fontawesome-free/css/all.min";
@import "../../themes/css/sb-admin-2.min";


.show-sidebar {
    position: fixed;
    left: 7.5rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90, 92, 105, 0.5);
    line-height: 46px;
}