@import '~bootstrap';
@import '~jquery-ui/themes/base/all.css';

.btn-primary-default {
    --bs-btn-color: #fff;
    --bs-btn-bg: #f53d2d;
    --bs-btn-border-color: #f53d2d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d73627;
    --bs-btn-hover-border-color: #d22313;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d22313;
    --bs-btn-active-border-color: #bb1e10;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #f53d2d;
    --bs-btn-disabled-border-color: #f53d2d;
}